include LICENSE
include README.md
include installation/requirements.txt
include installation/requirements-core.txt
include installation/requirements-docker.txt
include installation/requirements-analytics.txt